<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Routes</servlet-name>
        <servlet-class>Controlador.Routes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Controlador.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>Controlador.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocalController</servlet-name>
        <servlet-class>Controlador.LocalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicoController</servlet-name>
        <servlet-class>Controlador.MedicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PacienteController</servlet-name>
        <servlet-class>Controlador.PacienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabController</servlet-name>
        <servlet-class>Controlador.LabController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarnetController</servlet-name>
        <servlet-class>Controlador.CarnetController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Routes</servlet-name>
        <url-pattern>/Routes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocalController</servlet-name>
        <url-pattern>/LocalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicoController</servlet-name>
        <url-pattern>/MedicoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PacienteController</servlet-name>
        <url-pattern>/PacienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabController</servlet-name>
        <url-pattern>/LabController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarnetController</servlet-name>
        <url-pattern>/CarnetBusqueda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
